name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 13.238.255.17
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            bash ~/deploy.sh
